{% extends 'base.html' %} 
{% block title %} Review Management {% endblock title %}
{% block content %}
{% include 'include/navbarwhite.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
  <div class="container mb-5 mt-5" >
    <div class="row">
      {% include 'include/admin_dashboard_sidebar.html' %}
      <main class="col-md-9">
      <h2 class="text-center font-weight-bold text-dark my-5">Review Management</h2>
        <div class= " d-flex justify-content-end">
        <form action="" class="search" method="POST" >
          {% csrf_token %}
          <div class="mb-3">
            <div class="input-group  ">
              <input type="text" id="form1" class="form-control" placeholder = "search" name = "key" />
              
            <button class="btn btn-dark" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
          </div>
        </form>
      </div>
      <div class="wrap-table-shopping-cart">
        <table class="table bg-white">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <!-- <th scope="col">User</th> -->
              <th scope="col">Product Name</th>
              <th scope="col">Rating</th>
              <th scope="col">Review</th>
              <th scope="col">Status</th>
              <!-- <th scope="col"></th> -->
              <!-- <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            {% for review in reviews %}
            <tr>
              <th>{{ review.id }}</th>
              <!-- <td>{{ review.user }}</td> -->
              <td>{{ review.product }}</td>
              <td>{{ review.rating }}</td>
              <td>{{ review.review }}</td>
              <td>{% if review.status %}
                <i class="fas fa-check-circle" style="color: #28a745"></i>
                {% else %}
                <i class="fas fa-times-circle" style="color: #c21010"></i>
                {% endif %}
              </td>
                <td>
                  {% if review.status %}
                  <a href="{% url 'review_block' review.id %}" class="btn btn-warning btn-sm">Block</a>
                  {% else %}
                  <a href="{% url 'review_unblock' review.id %}" class="btn btn-dark btn-sm">Un Block</a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="container">
          <div class="row">
            <aside class="col-md-3"></aside>
            <main class="col-md-9">
              <nav class="mt-4" aria-label="Page navigation sample">
                {% if reviews.has_other_pages %}
                <ul class="pagination">
                  {% if reviews.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ reviews.previous_page_number }}">Previous</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  {% endif %} {% for page_number in reviews.paginator.page_range %} {% if reviews.number == page_number %}
                  <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                  {% endif %} {% endfor %} {% if reviews.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ reviews.next_page_number }}">Next</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                  {% endif %}
                </ul>
                {% endif %}
              </nav>
            </main>
          </div>
        </div>
      </div>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

 {% endblock %}